<div class="row center-text">
<h1> Edit workout </h1>

<%= form_for (@workout) do |f| %>
  <div class="form-element center">
    <div class="row">
    <div class="small-12 large-6 columns">
      <div class="field">
        <%= f.label :date %>
        <%= f.date_field :date %>
      </div>
    </div>
    <div class="small-12 large-6 columns">
      <div class="field">
        <%= f.label :exercise_id %>
        <%= f.collection_select :exercise_id, Exercise.order(:name),:id,:name %>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="small-12 large-4 columns">
    <div class="field">
      <%= f.label :reps %>
      <%= f.text_field :reps %>
    </div>
  </div>
  <div class="small-12 large-4 columns">
    <div class="field">
      <%= f.label :sets %>
      <%= f.number_field :sets %>
    </div>
  </div>
  <div class="small-12 large-4 columns">
    <div class="field">
      <%= f.label :weight %>
      <%= f.text_field :weight %>
    </div>
  </div>
</div>
    <div>
    <%= f.submit "Save", class: "button" %>
    </div>
  <% end %>
  </div>
</div>
