<div class="row text-center">
<h1>Your Workouts</h1>

<div id="app"></div>

<div class="callout workouts">
<%  date = 1.day.from_now(@workouts.first.date.to_date) rescue nil # increment the day %>

  <% @workouts.each do |workout| %>
    <% if date > workout.date.to_date %>
      <% date = workout.date.to_date %>
      <div style="background: #F95738;margin-top: 5px; margin-bottom: 5px;" class="rounded"><b><span style="padding: 5px"><%=h date %></span></b></div>
    <%end%>
    <div>
       <%= link_to "#{workout.exercise.name}", workouts_path %>
       <%= workout.sets %> sets X <%= workout.reps %> reps X <%= workout.weight %> lbs
       <%= link_to "Delete", workout_path(id: workout.id), method: :delete, form_class: "deletebutton", data: {confirm: 'Are you sure you want to delete this workout?'}  %>
    </div>
<%  end # end for items_each%>
</div>

<% if current_user.identity_for("fitbit") %>
<% user_tmz = current_user.identity_for("fitbit").timezone %>
<% today = Date.today.in_time_zone(user_tmz).to_date.strftime("%Y-%m-%d") %>
<div class="form-and-output-wrapper">
  <div class="request-form">
    <select class="request-url-dropdown" name="request-url">
      <option value="<%= url_for(controller: 'fitbit_api', action: 'data_request', resource: 'daily_activity_summary', date: today, only_path: false) %>" selected="true">Activities</option>
      <option value="<%= url_for(controller: 'fitbit_api', action: 'data_request', resource: 'sleep', date: today, only_path: false) %>" >Sleep</option>
      <option value="<%= url_for(controller: 'fitbit_api', action: 'data_request', resource: 'activities/steps', date: today, only_path: false) %>" >Steps</option>
      <option value="<%= url_for(controller: 'fitbit_api', action: 'data_request', resource: 'weight', date: '2016-03-06', only_path: false) %>" >Weight</option>
    </select>
    <button id="api-request-btn" type="button" name="button">Request</button>
  </div>

  <div class="output-wrapper">
    <textarea id="api_output" name="name" rows="80" cols="40"></textarea>
  </div>

</div>
<% end %>




<%= link_to "Discover new exercise!", exercises_path %>
<%= link_to 'Add a workout', new_workout_path %>
</div>
