<div class="row center-text">
<h1> Edit exercise </h1>

<%= form_for [:admin, @exercise] do |f| %>
  <div class="form-element center">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </div>
  <br />
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, required: true %>
  </div>
  <br />
  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category, required: true %>
  </div>
  <br />
  <div>
  <%= f.submit "Save", class: "button" %>
  </div>
<% end %>
</div>
</div>
