<div class="row data">
<% if !@allworkouts.nil? %>
<h4>select exercise to view progress</h4>
<div class="col small-12 medium-6 large-4">
<%= form_for (data_path), method: :get do |f| %>
  <div class="field">
    <%= f.label :exercise_id %>
    <%= f.collection_select :exercise_id, @exercises,:id,:name %>
  </div>
</div>
  <div class="col small-12 large-4">
  <%= f.submit "Update", class: "button" %>
  </div>
<% end %>
<% else %>
  <h3>You have no workouts! get on that!</h3>
<% end %>

<% if @exercise.nil? %>
  <% title = "Pick an exercise above" %>
<% else %>
  <% title = @exercise.first.name %>
<% end %>


<div class="chart">
<%= line_chart @data, title: title, xtitle: "Date", ytitle: "Weight"%>
</div>
</div>
