<div class="image-background">
<div class="row center-text">
<h1 class="white-text"> New exercise </h1>

<%= form_for (@exercise) do |f| %>
  <div class="form-element center">
  <div class="field">
    <%= f.label :name, class: "white-text" %>
    <%= f.text_field :name, required: true %>
  </div>
  <br />
  <div class="field">
    <%= f.label :description, class: "white-text" %>
    <%= f.text_area :description, required: true %>
  </div>
  <br />
  <div class="field">
    <%= f.label :category, class: "white-text" %>
    <%= f.text_field :category, required: true %>
  </div>
  <br />
  <div>
  <%= f.submit "Save", class: "button" %>
  </div>
<% end %>
</div>
</div>
</div>
